
# files and folders
*out/
*Scripts/lint-json.sh
*CMakeSettings.json
*AStyle/
*.ninja
*Tools/format/out/
*Workshop/names.json
*.log
*__pycache__/
*json_formatter.exe
*.ini

# IDE's
*.vscode/
*.idea/
*.vs/
*.ini
