
*.json~3ffa496603cbfa9eb9402ca6dea12691bcee6a86
out/
Scripts/lint-json.sh
CMakeSettings.json
AStyle/
*.ninja
Tools/format/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
Tools/format/out/build/x64-Debug (default)/CMakeCache.txt
Workshop/names.json
*.log
__pycache__/
json_formatter.exe

# IDE's
.vscode/
.idea/
.vs/