
# files and folders
*out/
*Scripts/lint-json.sh
*CMakeSettings.json
*AStyle/
*.ninja
*Tools/format/out/
*Workshop/names.json
*.log
*__pycache__/
*json_formatter.exe
*.ini

# IDE's
*.vscode/
*.idea/
*.vs/
*.ini
data/Unleash_The_Mods/Working_mods/Abrahms_Recipes/itemgroups/Locations_MapExtras/locations.json
data/Unleash_The_Mods/Working_mods/aaa_NO_blacklist/ammo/300blk.json
data/Unleash_The_Mods/Working_mods/aaa_NO_blacklist/ammo/300blk.json
