# Auto detect text files and perform LF normalization
* text=LF

* text eol=crlf
* text eol=lf

# Explicitly normalize files with these extensions in
# case Git doesn't detect them as text for some reason.
*.cpp     text
*.h       text
*.json    text
*.md      text
*.py      text
*.sh      text
*.txt     text
*.yml     text

# Treat images, archives, and font files as binary.
# (binary is a macro for -text -diff)
*.png     binary
