name: TOC Generator

on:
  push:
    paths:
    - '**.md'
  pull_request:
    paths:
    - '**.md'

jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v3
